li,
ul {
	padding: 0;
	margin: 0;
}

ul {
	position: relative;
	margin: auto;
	text-align: center;
}

li {
	display: inline-block;
	padding: 0 10px;
	font-family: BlinkMacSystemFont;
}

#header {
	margin: 50px 0 25px;

	li {
		cursor: default;
	}
}

.menu {
	background-color: #323232;
	border-color: #323232;
	color: white;
	font-size: 18px;
}

// #heroSelect,
// #villianSelect {
// 	width: 960px;
// 	position: relative;
// 	text-align: center;
// 	margin: auto;
// 	border-spacing: 0;
//
// 	td {
// 		height: 240px;
// 		width: 240px;
// 		box-sizing: border-box;
// 		border: none;
// 	}
// }

#bothSides {
	margin: 0 auto;
	display: inline-block;
	border-spacing: 0;
}

#left {
	@extend #bothSides;

	td:hover {
		background-color: #00e5e5;
	}
}

#right {
	@extend #bothSides;

	td:hover {
		background-color: #590059;
	}
}

td {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	color: transparent;
	box-sizing: border-box;
	cursor: default;
}

#img {
	position: fixed;
	bottom: 0;
	height: 320px;
	width: 320px;
	background-color: transparent;
}

#imgPlayer1 {
	@extend #img;
	left: -35px;
}

#imgPlayer2 {
	@extend #img;
	right: -35px;
}

.hidden {
	display: none;
}

.hit {
	background: url("../assets/dragon-ball-battleship/hit.png") no-repeat center center;
	background-size: contain;
}

.miss {
	background: url("../assets/dragon-ball-battleship/miss.png") no-repeat center center;
	background-size: contain;
}

.shade {
	background-color: black;
}
@media only screen and (min-width: 0) {
	#imgPlayer2 {
		display: none;
	}
}
@media only screen and (min-width: 900px) {
	#imgPlayer2 {
		display: block;
	}
}
@media only screen and (min-width: 1024px) {
	td {
		height: 52px;
		width: 52px;
	}
}
@media only screen and (min-width: 1100px) {
	td {
		height: 62px;
		width: 62px;
	}
}
@media only screen and (min-width: 1200px) {
	td {
		height: 75px;
		width: 75px;
	}
}
